<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
</head>
<table style="height: 788px; width: 1102px;" cellpadding="0">
<tbody>
<tr>
<td style="width: 5px;">&nbsp;</td>
<td style="width: 10px;">&nbsp;</td>
<td style="width: 248px;">&nbsp;</td>
<td style="width: 164px;">&nbsp;</td>
<td style="width: 177px;">
<p style="text-align: right;">المملكة المغربية &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</p>
<p style="text-align: right;">وزارة الأوقاف والشؤون الإسلامية</p>
<p style="text-align: right;">الكتابة العامة &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</p>
<p style="text-align: right;">م.ت.ق.د/ق.م/م.ت.م &nbsp;&nbsp;&nbsp;&nbsp;</p>
</td>
</tr>
<tr>
<td style="width: 5px;">&nbsp;</td>
<td style="width: 10px;">&nbsp;</td>
<td style="width: 412px;" colspan="2">
<h2 style="text-align: center;"><strong>السيد المندوب الجهوي للشؤون الإسلامية</strong></h2>
<h2 style="text-align: center;"><strong>......... بجهة </strong></h2>
&nbsp;</td>
<td style="width: 177px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 5px;">&nbsp;</td>
<td style="width: 10px;">&nbsp;</td>
<td style="width: 248px;">&nbsp;</td>
<td style="text-align: right; width: 164px;">&nbsp;&nbsp;</td>
<td style="text-align: right; width: 177px;">الموضوع: تحويل مبلغ</td>
</tr>
<tr>
<td style="width: 5px;">
<p>&nbsp;</p>
</td>
<td style="width: 10px;">&nbsp;</td>
<td style="width: 248px;">&nbsp;</td>
<td style="width: 164px;">&nbsp;</td>
<td style="width: 177px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 5px;">
<p>&nbsp;</p>
</td>
<td style="width: 10px;">&nbsp;</td>
<td style="text-align: center; width: 248px;" colspan="2">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;،سلام تام بوجود مولانا الإمام&nbsp;&nbsp;</td>
<td style="width: 177px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 5px;">&nbsp;</td>
<td style="width: 10px;">&nbsp;</td>
<td style="text-align: center; width: 412px;" colspan="2">&nbsp;&nbsp; و بعد، يشرفني أن أخبركم أن الوزارة حولت لحسابكم البريدي مبلغ ...لقاء أداء مكافات القيمين الدينيين عن شهور...من سنة...</td>
<td style="width: 177px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 5px;">&nbsp;</td>
<td style="width: 10px;">&nbsp;</td>
<td style="text-align: center; width: 248px;">&nbsp;</td>
<td style="width: 164px;">&nbsp;</td>
<td style="width: 177px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 5px;">&nbsp;</td>
<td style="width: 10px;">&nbsp;</td>
<td style="text-align: center; width: 248px;">&nbsp;</td>
<td style="width: 164px;">&nbsp;</td>
<td style="width: 177px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 5px;">&nbsp;</td>
<td style="width: 10px;">&nbsp;</td>
<td style="text-align: center; width: 248px;">&nbsp;</td>
<td style="width: 164px;">&nbsp;</td>
<td style="width: 177px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 5px;">&nbsp;</td>
<td style="width: 10px;">&nbsp;</td>
<td style="text-align: center; width: 248px;">&nbsp;</td>
<td style="width: 164px;">&nbsp;</td>
<td style="width: 177px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 5px;">&nbsp;</td>
<td style="width: 10px;">&nbsp;</td>
<td style="text-align: center; width: 248px;">&nbsp;مع التحية و السلام</td>
<td style="width: 164px;">&nbsp;</td>
<td style="text-align: right; width: 177px;">&nbsp;</td>
</tr>
</tbody>
</table>

</body>
</html>