{% extends "compteBundle::layout.html.twig" %}
{%block title%}
    {{parent()}} - Editer profile
{%endblock%}

{% block content %}

{% block xTitle %}
 <h2 dir='rtl'> بيانات المستخدم </h2>
{% endblock %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock content %}
