{% extends "compteBundle::layout.html.twig" %}
{%block title%}
    {{parent()}} - Profile
{%endblock%}

{% block xTitle %}
    <h2 class="pull-right">حساب المستخدم</h2>
{% endblock %}
{% block content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock content %}
