{% extends "compteBundle::layout.html.twig" %}
          {% block pageContent %}
                <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          
          <!-- /top tiles -->

          <br />

         

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>  XXX حساب جاري    </h2>
               
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="dashboard-widget-content">

                    <ul class="list-unstyled timeline widget">
                      <li>
                        <div class="block">
                          <div class="block_content">
                            <h2 class="title">
                                              <a>Solde actualisé le 18/01/2017 à 12:00 est: 20 000 000 DH</a>
                                          </h2>
                            
                          </div>
                        </div>
                      </li>
                     
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-8 col-sm-8 col-xs-12">



            </div>
          </div>
        </div>
        <!-- /page content -->
          {% endblock %}
